*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h5 {
    text-align: center;
}

body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1.64em;
}

.pl-1 {
    padding-left: 10px;
}

input[type="radio"] {
    vertical-align: middle;
}

.container {
    width: 900px;
    margin: 3% auto 0;
    -webkit-box-shadow: 6px 15px 40px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 15px 40px -17px rgba(0,0,0,0.75);
    box-shadow: 6px 15px 40px -17px rgba(0,0,0,0.75);
    min-height: 600px;
    background-color: white;
}

.col {
    padding: 20px;
}

.form-control {
    width: 100%;
}

.form-textarea {
    width: 100%;
    resize: none;
    padding: 10px
}

.form-control-md {
    width: 80%;
}

.form-control-sm {
    width: 68%;
}

ol {
    list-style: none;

}

ol li {
    display: block;
    float: left;
    margin-right: 2%;
}

.m1 {
    margin-bottom: 10px;
}

.average-text {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}
.center {
    text-align: center;
}

tr{
    vertical-align: middle;
}
